# Draft analysis 

---

Group name: Group E

---

## Introduction

*This section includes an introduction to the project motivation, data, and research question. Include a data dictionary*

## Setup

In [2]:
import pandas as pd
import altair as alt

## Data

## Import data

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/Maarv99/Project-applied-statistics/main/data/raw/clinical_data.csv")
df.head()

,caseid,subjectid,casestart,caseend,anestart,aneend,opstart,opend,adm,dis,...,intraop_colloid,intraop_ppf,intraop_mdz,intraop_ftn,intraop_rocu,intraop_vecu,intraop_eph,intraop_phe,intraop_epi,intraop_ca
0,1,5955,0,11542,-552,10848.0,1668,10368,-236220,627780,...,0,120,0.0,100,70,0,10,0,0,0
1,2,2487,0,15741,-1039,14921.0,1721,14621,-221160,1506840,...,0,150,0.0,0,100,0,20,0,0,0
2,3,2861,0,4394,-590,4210.0,1090,3010,-218640,40560,...,0,0,0.0,0,50,0,0,0,0,0
3,4,1903,0,20990,-778,20222.0,2522,17822,-201120,576480,...,0,80,0.0,100,100,0,50,0,0,0
4,5,4416,0,21531,-1009,22391.0,2591,20291,-67560,3734040,...,0,0,0.0,0,160,0,10,900,0,2100

### Data structure

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6388 entries, 0 to 6387
Data columns (total 74 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   caseid               6388 non-null   int64
 1   subjectid            6388 non-null   int64
 2   casestart            6388 non-null   int64
 3   caseend              6388 non-null   int64
 4   anestart             6388 non-null   int64
 5   aneend               6388 non-null   float64
 6   opstart              6388 non-null   int64
 7   opend                6388 non-null   int64
 8   adm                  6388 non-null   int64
 9   dis                  6388 non-null   int64
 10  icu_days             6388 non-null   int64
 11  death_inhosp         6388 non-null   int64
 12  age                  6388 non-null   object
 13  sex                  6388 non-null   object
 14  height               6388 non-null   float64
 15  weight               6388 non-null   float64
 16  bmi                  6388 non-null   float64
 17  asa                  6255 non-null   float64
 18  emop                 6388 non-null   int64
 19  department           6388 non-null   object
 20  optype               6388 non-null   object
 21  dx                   6388 non-null   object
 22  opname               6388 non-null   object
 23  approach             6388 non-null   object
 24  position             6194 non-null   object
 25  ane_type             6388 non-null   object
 26  preop_htn            6388 non-null   int64
 27  preop_dm             6388 non-null   int64
 28  preop_ecg            6388 non-null   object
 29  preop_pft            6388 non-null   object
 30  preop_hb             6047 non-null   float64
 31  preop_plt            6047 non-null   float64
 32  preop_pt             5998 non-null   float64
 33  preop_aptt           5986 non-null   float64
 34  preop_na             5765 non-null   float64
 35  preop_k              5767 non-null   float64
 36  preop_gluc           6010 non-null   float64
 37  preop_alb            6016 non-null   float64
 38  preop_ast            6022 non-null   float64
 39  preop_alt            6024 non-null   float64
 40  preop_bun            6023 non-null   float64
 41  preop_cr             6016 non-null   float64
 42  preop_ph             546 non-null    float64
 43  preop_hco3           533 non-null    float64
 44  preop_be             532 non-null    float64
 45  preop_pao2           538 non-null    float64
 46  preop_paco2          538 non-null    float64
 47  preop_sao2           533 non-null    float64
 48  cormack              5553 non-null   object
 49  airway               5973 non-null   object
 50  tubesize             4919 non-null   float64
 51  dltubesize           930 non-null    object
 52  lmasize              102 non-null    float64
 53  iv1                  6313 non-null   object
 54  iv2                  1437 non-null   object
 55  aline1               3463 non-null   object
 56  aline2               105 non-null    object
 57  cline1               1541 non-null   object
 58  cline2               60 non-null     object
 59  intraop_ebl          3987 non-null   float64
 60  intraop_uo           3707 non-null   float64
 61  intraop_rbc          6388 non-null   int64
 62  intraop_ffp          6388 non-null   int64
 63  intraop_crystalloid  5980 non-null   float64
 64  intraop_colloid      6388 non-null   int64
 65  intraop_ppf          6388 non-null   int64
 66  intraop_mdz          6388 non-null   float64
 67  intraop_ftn          6388 non-null   int64
 68  intraop_rocu         6388 non-null   int64
 69  intraop_vecu         6388 non-null   int64
 70  intraop_eph          6388 non-null   int64
 71  intraop_phe          6388 non-null   int64
 72  intraop_epi          6388 non-null   int64
 73  intraop_ca           6388 non-null   int64
dtypes: float64(29), int64(25), object(20)
memory usage: 3.6+ MB

### Data corrections

### Variable lists

### Data splitting

## Analysis

### Descriptive statistics

### Exploratory data analysis

### Relationships

## Model

### Select model

### Training and validation

### Fit model

### Evaluation on test set

### Save model


Save your model in the folder `models/`. Use a meaningful name and a timestamp.

## Conclusions